@charset "UTF-8";

body {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-40%, -40%);
    z-index: auto;

    margin: 0px;
    padding: 0px;
    background-color: lightgray;

    background-image: url(imagens/Video\ game\ poster\ designs\ by\ Dylan\ West_\ _\ Better….jpg);

    background-size: 80px;

}



h1 {
    margin: auto;
    padding: 10px;
    

    
    background-color: rgba(128, 128, 128, 0.678);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4em;
    width: max-content;
    text-align: center;
    border-radius: 12px;
    border-bottom: 1px 1px 3px 5px;
    
}


a {
    margin: auto;
    margin-top: 30px;

    padding: 15px;
    width: max-content;

    text-align: center;
    text-decoration: none;
   
    display: block;
    list-style: none;  
    
    border: 10px 12px;
    border-radius: 8px;
    background-color: rgba(0, 153, 255, 0.829)

}


/* Estilo para a tag <a> com a classe link-mario */
.link-mario {
    color: red; /* Substitua "red" pela cor desejada para Mario. */
    
}

/* Estilo para a tag <a> com a classe link-snake */
.link-snake {
    color: rgba(3, 3, 233, 0.801); /* Substitua "blue" pela cor desejada para Snake. */
    
}

/* Estilo para quando o mouse passar sobre qualquer tag <a> */
a:hover {
    color: rgb(5, 223, 5); /* Substitua "green" pela cor desejada ao passar o mouse sobre qualquer link. */
    transition: 0.8ms;
}



a {
    
    box-shadow: 2px 1px 1px 1px;
    text-decoration: none;
    font-size: 3em;
    color: rgb(17, 17, 17);
    
}


li {
    margin: 30px;
    list-style: none;
}